##**Olá! Seja muito bem-vindo ao projeto da minha Biblioteca Matemática/Estatística em Python. Gostaria de lembrar que esta biblioteca foi desenvolvida como um meio de praticar e aplicar conceitos de matemática e estatística. Estou constantemente revisando e expandindo suas funcionalidades, assim como aprimorando as funções já existentes à medida que aprofundo meu conhecimento. Sinta-se à vontade para explorar e utilizar as ferramentas disponíveis. Seu feedback e sugestões são sempre bem-vindos e contribuem para o constante aperfeiçoamento desta biblioteca.**

# Soma

# Parametro a é o primeiro número, parametro b é o segundo número

In [3]:
def somar(*args):
    sum=0
    for i in args:
      sum +=i
    return sum

In [5]:
# Exemplo
somar(5,5,5,7,8,9,10)

49

# Subtração

#Parametro a é o primeiro número, parametro b é o segundo número

In [ ]:
def subtrair(a, b):
    return float(a) - float(b)

In [ ]:
# Exemplo
subtrair(5,2)

3.0

# Divisão

#Parametro a é o primeiro número, parametro b é o segundo número

In [ ]:
def dividir(a, b):
    if b==0:
        return 0
    return  float(a) / float(b)

In [ ]:
# Exemplo
dividir(12,6)

2.0

#Multiplicação

#Parametro a é o primeiro número, parametro b é o segundo número

In [ ]:
def multiplicar(*args):
      multiplicar=0
      for i in args:
        multiplicar=multiplicar*i
      return multiplicar

In [ ]:
# Exemplo
multiplicar(2,3)

6.0

#Potência

#Parametro a é o número, parametro b é a potência a qual o número será elevado

In [ ]:
def potencia(a, b):
    return float(a) ** float(b)

In [ ]:
# Exemplo
potencia(2,4)

16.0

#Porcentagem

#Parâmetro a número que queira qualcular a porcentagem e b é valo da porcentagem: b%

In [ ]:
def porcentagem(a,b):
    return float(a) * float(b/100)

In [ ]:
# Exemplo
porcentagem(100,10)

10.0

#Média

# Parâmetro a é quantidade de números que deseja fazer a media, após isso será pedido os números um por vez e terá como retorno a média

In [6]:
def media(*a):
  soma=0
  qtd=len(a)
  for i in a:
    soma+=i
  media = soma/qtd
  return media

In [7]:
# Exemplo
x =media(5,7,8,9,10)
x

7.8

#Média ponderada

## Parâmetro a é quantidade de números que deseja fazer a media, após isso será pedido um número e o seu respectivo peso por vez.

In [ ]:
def media_ponderada(a):
  c = 1
  soma = 0
  soma_pesos = 0
  while(a >= c):
    b = float(input('Digite os valores para a média: '))
    P = int(input('Digite o peso: '))
    soma_pesos = soma_pesos + P
    peso = b * P
    soma = soma + peso
    c += 1
  media = soma/soma_pesos
  return media

In [ ]:
# Exemplo
x = media_ponderada(2)
x

Digite os valores para a média: 5
Digite o peso: 2
Digite os valores para a média: 8
Digite o peso: 3

6.8

#Mediana

# Parametro array é a lista de valores que queira descobrir a mediana

In [ ]:
def mediana(array):
  lista2 = []
  lista = array
  lista1 = sorted(lista)
  a = len(lista1)
  b = a // 2
  if a % 2 ==0:
    lista2.append(lista1[b])
    lista2.append(lista1[b-1])
  else:
    lista2.append(lista1[b])
  return lista2

In [ ]:
# Exemplo
c = [10,7,0,9,7,4,3,2,5,6]
x = mediana(c)
x

[6, 5]

#Moda

# Parâmetro array é a lista de valores que queira descobrir a mediana

In [ ]:
def moda(array):
  maior = 0
  lista = array
  for i in lista:
    if i > maior:
      maior = i
  return maior

In [ ]:
# Exemplo
c = [10,7,0,9,7,4,3,2,5,6,1000]
x = moda(c)
x

1000

#Função que converte decimais para binários

# Parâmetro x indica o número em base decimal que queira tranformar para base binário

In [ ]:
def decimal_binario(x):
  lista = []
  cont = 0
  while(x / 2 > 0):
    aux = x % 2
    x = x // 2
    lista.append(aux)
    cont = cont + 1
  lista.reverse()
  for i in lista:
     print(i)

In [ ]:
# Exemplo
x = decimal_binario(50)
x

1
1
0
0
1
0

#Função que converte decimais para ocatal

# Parâmetro x indica o número em base decimal que queira tranformar para base octal

In [ ]:
def decimal_octal(x):
  lista = []
  cont = 0
  while(x / 8 > 0):
    aux = x % 8
    x = x // 8
    lista.append(aux)
    cont = cont + 1
  lista.reverse()
  for i in lista:
    print(i)

In [ ]:
# Exemplo
decimal_octal(50)

6
2

#Função que converte decimais para hexadecimal

# Parâmetro x indica o número em base decimal que queira tranformar para base hexadecimal

In [ ]:
def decimal_hexadecimal(x):
  lista = []
  cont = 0
  while(x / 16 > 0):
    aux = x % 16
    x = x // 16
    lista.append(aux)
    cont = cont + 1
  lista.reverse()
  for i in lista:
    print(i)

In [ ]:
# Exemplo
decimal_hexadecimal(50)

3
2

#Função que tranforma de binário para decimal

# Parâmetro x indica o número em base binário que queira tranformar para decimal

In [ ]:
def binario_decimal(x):
  lista = []
  z = 1
  soma = 0
  for i in range(x):
    y = int(input(f'Digite o {z}º número: '))
    lista.append(y)
    z += 1
  x = x - 1
  for i in lista:
    w = i*2**x
    soma += w
    x = x - 1
  print(soma)

In [ ]:
# Exemplo
binario_decimal(6)

Digite o 1º número: 4
Digite o 2º número: 6
Digite o 3º número: 5
Digite o 4º número: 4
Digite o 5º número: 3
Digite o 6º número: 2
288

#Função que tranforma de octal para decimal

# Parâmetro x indica a quantidade de números que a base octal possui, depois pede para inserir um por um para que tranforme para base decimal

In [ ]:
def octal_decimal(x):
  lista = []
  z = 1
  soma = 0
  for i in range(x):
    y = int(input(f'Digite o {z}º número: '))
    lista.append(y)
    z += 1
  x = x - 1
  for i in lista:
    w = i*8**x
    soma += w
    x = x - 1
  print(soma)

In [ ]:
# Exemplo
octal_decimal(6)

Digite o 1º número: 0
Digite o 2º número: 0
Digite o 3º número: 0
Digite o 4º número: 0
Digite o 5º número: 5
Digite o 6º número: 2
42

#Função que tranforma de hexadecimal para decimal

# Parâmetro x indica a quantidade de números que a base hexadecimal possui, depois pede para inserir um por um para que tranforme para base decimal

In [ ]:
def hexadecimal_decimal(x):
  lista = []
  z = 1
  soma = 0
  for i in range(x):
    y = int(input(f'Digite o {z}º número: '))
    lista.append(y)
    z += 1
  x = x - 1
  for i in lista:
    w = i*16**x
    soma += w
    x = x - 1
  print(soma)

In [ ]:
# Exemplo
hexadecimal_decimal(4)

Digite o 1º número: 10
Digite o 2º número: 3
Digite o 3º número: 7
Digite o 4º número: 14
41854

#Função que tranforma de octal para binario

# Parâmetro x indica a quantidade de números que a base octal possui, depois pede para inserir um por um para que tranforme para base binário

In [ ]:
def octal_binario(x):
  tabela =  {'0':'000',
        '1':'001',
        '2':'010',
        '3':'011',
        '4':'100',
        '5':'101',
        '6':'110',
        '7':'111'}
  z = 1
  lista = []
  for i in range(x):
    y = input(f'Digite o {z}º número: ')
    z +=1
    for i in tabela:
      lista.append(tabela[y])
      break
  for i in lista:
    print(i)

In [ ]:
# Exemplo
octal_binario(4)

Digite o 1º número: 5
Digite o 2º número: 2
Digite o 3º número: 5
Digite o 4º número: 2
101
010
101
010

#Função que tranforma de hexadecimal para binario

# Parâmetro x indica a quantidade de números que a base hexadecimal possui, depois pede para inserir um por um para que tranforme para base binário

In [ ]:
def hexadecimal_binario(x):
  tabela =  {'0':'0000',
        '1':'0001',
        '2':'0010',
        '3':'0011',
        '4':'0100',
        '5':'0101',
        '6':'0110',
        '7':'0111',
        '8':'1000',
        '9':'1001',
        'A':'1010',
        'B':'1011',
        'C':'1100',
        'D':'1101',
        'E':'1110',
        'F':'1111'}
  z = 1
  lista = []
  for i in range(x):
    y = input(f'Digite o {z}º número: ')
    z +=1
    for i in tabela:
      lista.append(tabela[y])
      break
  for i in lista:
    print(i)

In [ ]:
# Exemplo
hexadecimal_binario(3)

Digite o 1º número: A
Digite o 2º número: E
Digite o 3º número: 9
1010
1110
1001

#Função que tranforma de binário para octal

# Parâmetro x indica a quantidade de números que a base binário possui, depois pede para inserir de três em três começando pelo primeiro número para que tranforme para octal

In [ ]:
def binario_octal(x):
  tabela =  {'000':'0',
        '001':'1',
        '010':'2',
        '011':'3',
        '100':'4',
        '101':'5',
        '110':'5',
        '111':'7'}
  z = 1
  lista = []
  for i in range(x):
    y = input(f'Digite o {z}º número: ')
    z +=1
    for i in tabela:
      lista.append(tabela[y])
      break
  for i in lista:
    print(i)

In [ ]:
# Exemplo
binario_octal(4)

Digite o 1º número: 101
Digite o 2º número: 010
Digite o 3º número: 010
Digite o 4º número: 101
5
2
2
5

#Função que tranforma de binário para hexadecimal

# Parâmetro x indica a quantidade de números que a base binário possui, depois pede para inserir de quatro em quatro começando pelo primeiro número para que tranforme para hexadecimal

In [ ]:
def binario_hexadecimal(x):
  tabela =  {'0000':'0',
        '0001':'1',
        '0010':'2',
        '0011':'3',
        '0100':'4',
        '0101':'5',
        '0110':'6',
        '0111':'7',
        '1000':'8',
        '1001':'9',
        '1010':'A',
        '1011':'B',
        '1100':'C',
        '1101':'D',
        '1110':'E',
        '1111':'F'}
  z = 1
  lista = []
  for i in range(x):
    y = input(f'Digite o {z}º número: ')
    z +=1
    for i in tabela:
      lista.append(tabela[y])
      break
  for i in lista:
    print(i)

In [ ]:
# Exemplo
binario_hexadecimal(3)

Digite o 1º número: 1010
Digite o 2º número: 1110
Digite o 3º número: 1001
A
E
9